* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #091921;

}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/clock.png") center / cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 111;
    background: rgb(247, 202, 3);
}

.hour {
    position: absolute;
}

.hours {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

.hours::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #f7cb02;
    z-index: 10;
    border-radius: 6px 6px 0;
}

.minute {
    position: absolute;
}

.minutes {
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;

}

.minutes::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #f7cb02;
    z-index: 11;
    border-radius: 6px 6px 0;

}

.second {
    position: absolute;
}

.seconds {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;

}

.seconds::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #f7cb02;
    z-index: 12;
    border-radius: 6px 6px 0;

}

.newclock {
    height: 100px;
    width: 360px;
    position: absolute;
    transform: translateY(-250px);
    background: linear-gradient(135deg, #13ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;


}

.newclock .display,
.newclock span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.newclock .display {
    z-index: 999;
    height: 85px;
    width: 345px;
    background: #091921;
    border-radius: 6px;
    text-align: center;
}


.display #time {
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #13ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-colour: transparent;
    animation: animate 1.5s linear infinite;

}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.newclock span {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
}

.newclock span:first-child{
    filter:blur(7px);
}

.newclock span:last-child{
    filter:blur(20px);
}
